doctype html
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='static/stylesheets/style.css' )
    meta(charset='utf-8')
    meta(name='viewport' conten='twidth=device-width, initial-scale=1, shrink-to-fit=no')
  body
    h1= title
    p Welcome to #{title}
    br
    h3 #{intro}
    div.root
		script(src='')
